<div data-turbo="false">
  <%= form_with(url: "/tweets") do |f| %> 
    <%= errors_for(tweet, :body) %>
    <div>
      <div>
        <%= f.text_area :body, autofocus: true %>
        <%= f.submit "Tweet"%>
      </div>
    </div>
  <% end %>
</div>


