<p style="color: green"><%= notice %></p>
<%= form_with(model: tweet, method: :post) do |f| %> 

<div >
  <div data-turbo="false">
    <%= f.text_area :body, placeholder: "Remember to thing before write...",
    autofocus: true %>
      <%= f.submit "Tweet" %>
  </div>

</div>

<% end %>
