<h1>Editing tweet</h1>
<%= form_with(model: @tweet, method: :patch) do |f| %> 

<div >
  <div >
    <%= f.text_area :body, placeholder: "Remember to thing before write...",
    autofocus: true %>
      <%= f.submit "Edit" %>
  </div>

</div>

<% end %>
