@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Raleway:wght@300&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap");

* {
  font-family: Roboto;
}

p {
  margin: 0;
}

.edit-profile-link,
.login-profile-link,
.signup-profile-link {
  color: #1da1f2;
  text-decoration: none;
}

.delete-profile-link {
  color: #1da1f2;
  background-color: #fff;
  border-radius: 100px;
  border: 1px solid #1da1f2;
}

.body {
  padding: 0 20%;
}

.header {
  max-width: 600px;
  min-height: 64px;
  border: 1px solid #ebeef0;
  display: flex;
  justify-content: center;
}

.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

.nav-bar {
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.tweets,
.comments {
  margin-top: 0.75rem;
  width: 100%;
}

.tweet-form__container,
.comment-form__container,
.form__container {
  max-width: 600px;
}

.tweet-form,
.comment-form {
  width: 100%;
  min-height: 37px;
}

.tweet-container,
.comment-container {
  display: flex;
  padding-bottom: 0.5rem;
  border: 1px solid #ebeef0;
  max-width: 600px;
}

.tweet-content,
.comment-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.tweet-header,
.comment-header {
}

.tweet-body,
.comment-body {
  width: 540px;
  padding-bottom: 0.5rem;
}

.tweet-crud {
  display: flex;
  justify-content: space-between;
}

.comment-crud {
  display: flex;
  justify-content: flex-end;
}

.tweet-crud__del-upd,
.comment-crud__del-upd {
  display: flex;
}

.tweet-avatar__container,
.comment-avatar__container {
  margin: 0;
  max-width: 50px;
  max-height: 50px;
}

.tweet-avatar,
.comment-avatar {
  padding-right: 0.5rem;
}

.tweet-button,
.comment-button,
.submit-button {
  background-color: #1da1f2;
  border-radius: 100px;
  color: #fff;
  width: 76px;
  height: 40px;
  border: none;
}

.center-button {
  text-align: center;
}

.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.mv-1 {
  padding: 0.5rem 0;
}

.comment-button {
  width: 103px;
}

.input {
  width: 260px;
  min-height: 40px;
  border: 1px solid #5b7083;
  border-radius: 8px;
}

@media screen and (max-width: 1020px) {
  .tweet-body,
  .comment-body {
    max-width: 450px;
  }
}
@media screen and (max-width: 1020px) {
  .body {
    padding: 0 15%;
  }
}
@media screen and (max-width: 570px) {
  .body {
    padding: 0 5%;
  }
  .tweet-body,
  .comment-body {
    max-width: 300px;
  }
}
