p {
  margin: 0;
}

.body {
  padding: 0 20%;
}

.header {
  max-width: 600px;
  min-height: 64px;
  border: 1px solid #ebeef0;
  display: flex;
  justify-content: center;
}

.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}

.nav-bar {
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.tweets,
.comments {
  margin-top: 0.75rem;
  width: 100%;
}

.tweet-form__container {
  max-width: 600px;
}
.tweet-form {
  width: 100%;
  min-height: 37px;
}

.tweet-container,
.comment-container {
  display: flex;
  padding-bottom: 0.5rem;
  border: 1px solid #ebeef0;
  max-width: 600px;
}

.tweet-content,
.comment-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.tweet-header,
.comment-header {
}

.tweet-body,
.comment-body {
  width: 540px;
  padding-bottom: 0.5rem;
}

.tweet-crud {
  display: flex;
  justify-content: space-between;
}

.comment-crud {
  display: flex;
  justify-content: flex-end;
}

.tweet-crud__del-upd,
.comment-crud__del-upd {
  display: flex;
}

.tweet-avatar__container,
.comment-avatar__container {
  margin: 0;
  max-width: 50px;
  max-height: 50px;
}

.tweet-avatar,
.comment-avatar {
  padding-right: 0.5rem;
}

.tweet-button,
.comment-button {
  background-color: #1da1f2;
  border-radius: 100px;
  color: #fff;
  width: 76px;
  height: 40px;
  border: none;
}

.comment-button {
  width: 103px;
}

@media screen and (max-width: 1020px) {
  .tweet-body,
  .comment-body {
    max-width: 450px;
  }
}
@media screen and (max-width: 1020px) {
  .body {
    padding: 0 15%;
  }
}
@media screen and (max-width: 570px) {
  .body {
    padding: 0 5%;
  }
  .tweet-body,
  .comment-body {
    max-width: 300px;
  }
}
