.body {
  padding: 0 20%;
}

.header {
  max-width: 600px;
  min-height: 64px;
  border: 1px solid #ebeef0;
  display: flex;
  justify-content: center;
}

.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}
